
    <style>
    table.eli5-weights tr:hover {
        filter: brightness(85%);
    }
</style>



    

    

    

    

    

    


    

    

    

    

    

    


    

    

    

    

    
        <table class="eli5-weights eli5-feature-importances" style="border-collapse: collapse; border: none; margin-top: 0em; table-layout: auto;">
    <thead>
    <tr style="border: none;">
        <th style="padding: 0 1em 0 0.5em; text-align: right; border: none;">Weight</th>
        <th style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">Feature</th>
    </tr>
    </thead>
    <tbody>
    
        <tr style="background-color: hsl(120, 100.00%, 80.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0532
                
                    &plusmn; 0.0344
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Rhinovirus/Enterovirus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 84.36%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0374
                
                    &plusmn; 0.0105
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Inf A H1N1 2009
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 84.94%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0355
                
                    &plusmn; 0.0067
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Influenza B
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 94.29%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0089
                
                    &plusmn; 0.0101
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Respiratory Syncytial Virus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 94.98%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0074
                
                    &plusmn; 0.0062
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Coronavirus HKU1
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 95.96%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0054
                
                    &plusmn; 0.0072
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                CoronavirusNL63
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 95.96%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0054
                
                    &plusmn; 0.0085
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Influenza A
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 96.77%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0039
                
                    &plusmn; 0.0039
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Metapneumovirus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 97.67%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0025
                
                    &plusmn; 0.0031
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Adenovirus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.01%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0020
                
                    &plusmn; 0.0020
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Bordetella pertussis
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.37%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0015
                
                    &plusmn; 0.0050
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 4
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.37%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0015
                
                    &plusmn; 0.0050
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                CoronavirusOC43
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.77%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0010
                
                    &plusmn; 0.0024
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 3
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.77%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0010
                
                    &plusmn; 0.0024
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Chlamydophila pneumoniae
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 99.25%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0005
                
                    &plusmn; 0.0065
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Coronavirus229E
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 1
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 2
            </td>
        </tr>
    
    
    </tbody>
</table>
    

    


    

    

    

    

    

    



