
    <style>
    table.eli5-weights tr:hover {
        filter: brightness(85%);
    }
</style>



    

    

    

    

    

    


    

    

    

    

    

    


    

    

    

    

    
        <table class="eli5-weights eli5-feature-importances" style="border-collapse: collapse; border: none; margin-top: 0em; table-layout: auto;">
    <thead>
    <tr style="border: none;">
        <th style="padding: 0 1em 0 0.5em; text-align: right; border: none;">Weight</th>
        <th style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">Feature</th>
    </tr>
    </thead>
    <tbody>
    
        <tr style="background-color: hsl(120, 100.00%, 80.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0493
                
                    &plusmn; 0.0284
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Rhinovirus/Enterovirus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 83.19%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0384
                
                    &plusmn; 0.0170
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Inf A H1N1 2009
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 85.05%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0325
                
                    &plusmn; 0.0110
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Influenza B
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 94.70%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0074
                
                    &plusmn; 0.0062
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Coronavirus HKU1
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 94.95%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0069
                
                    &plusmn; 0.0072
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Respiratory Syncytial Virus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 95.73%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0054
                
                    &plusmn; 0.0085
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Influenza A
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 96.89%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0034
                
                    &plusmn; 0.0050
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Metapneumovirus
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.28%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0015
                
                    &plusmn; 0.0050
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 4
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.28%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0015
                
                    &plusmn; 0.0050
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                CoronavirusOC43
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.28%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0015
                
                    &plusmn; 0.0039
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Chlamydophila pneumoniae
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 98.71%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0010
                
                    &plusmn; 0.0024
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 3
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0000
                
                    &plusmn; 0.0070
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Coronavirus229E
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 1
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Adenovirus
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Parainfluenza 2
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                CoronavirusNL63
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Bordetella pertussis
            </td>
        </tr>
    
    
    </tbody>
</table>
    

    


    

    

    

    

    

    



