
    <style>
    table.eli5-weights tr:hover {
        filter: brightness(85%);
    }
</style>



    

    

    

    

    

    


    

    

    

    

    

    


    

    

    

    

    
        <table class="eli5-weights eli5-feature-importances" style="border-collapse: collapse; border: none; margin-top: 0em; table-layout: auto;">
    <thead>
    <tr style="border: none;">
        <th style="padding: 0 1em 0 0.5em; text-align: right; border: none;">Weight</th>
        <th style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">Feature</th>
    </tr>
    </thead>
    <tbody>
    
        <tr style="background-color: hsl(0, 100.00%, 97.84%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0013
                
                    &plusmn; 0.0098
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Hemoglobin
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 96.49%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0026
                
                    &plusmn; 0.0305
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Leukocytes
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 93.33%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0065
                
                    &plusmn; 0.0219
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Eosinophils
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 92.42%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0078
                
                    &plusmn; 0.0209
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Mean<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>platelet<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>volume<span style="background-color: hsl(0, 80%, 70%); margin: 0 0 0 0.1em" title="A space symbol">&emsp;</span>
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 91.56%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0092
                
                    &plusmn; 0.0269
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Platelets
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 90.73%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0105
                
                    &plusmn; 0.0064
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Red<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>blood<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>Cells
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 89.93%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0118
                
                    &plusmn; 0.0225
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Monocytes
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 89.93%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0118
                
                    &plusmn; 0.0152
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Lymphocytes
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 89.93%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0118
                
                    &plusmn; 0.0128
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Hematocrit
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 88.42%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0144
                
                    &plusmn; 0.0128
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Mean<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>corpuscular<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>hemoglobin<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>(MCH)
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 86.29%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0183
                
                    &plusmn; 0.0128
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Basophils
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 86.29%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0183
                
                    &plusmn; 0.0192
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Mean<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>corpuscular<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>volume<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>(MCV)
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 81.78%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0275
                
                    &plusmn; 0.0173
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Neutrophils
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 80.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0314
                
                    &plusmn; 0.0324
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Red<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>blood<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>cell<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>distribution<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>width<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>(RDW)
            </td>
        </tr>
    
    
    </tbody>
</table>
    

    


    

    

    

    

    

    



