
    <style>
    table.eli5-weights tr:hover {
        filter: brightness(85%);
    }
</style>



    

    

    

    

    

    


    

    

    

    

    

    


    

    

    

    

    
        <table class="eli5-weights eli5-feature-importances" style="border-collapse: collapse; border: none; margin-top: 0em; table-layout: auto;">
    <thead>
    <tr style="border: none;">
        <th style="padding: 0 1em 0 0.5em; text-align: right; border: none;">Weight</th>
        <th style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">Feature</th>
    </tr>
    </thead>
    <tbody>
    
        <tr style="background-color: hsl(120, 100.00%, 80.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0353
                
                    &plusmn; 0.0426
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Leukocytes
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 81.58%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0314
                
                    &plusmn; 0.0225
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Eosinophils
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 82.67%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0288
                
                    &plusmn; 0.0212
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Lymphocytes
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 89.33%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0144
                
                    &plusmn; 0.0417
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Neutrophils
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 95.70%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0039
                
                    &plusmn; 0.0133
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Red<span style="background-color: hsl(120, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>blood<span style="background-color: hsl(120, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>Cells
            </td>
        </tr>
    
        <tr style="background-color: hsl(120, 100.00%, 95.70%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0.0039
                
                    &plusmn; 0.0212
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Hematocrit
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 100.00%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                0
                
                    &plusmn; 0.0000
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Mean<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>corpuscular<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>volume<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>(MCV)
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 98.01%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0013
                
                    &plusmn; 0.0192
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Basophils
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 98.01%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0013
                
                    &plusmn; 0.0267
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Red<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>blood<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>cell<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>distribution<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>width<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>(RDW)
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 93.86%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0065
                
                    &plusmn; 0.0083
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Mean<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>platelet<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>volume<span style="background-color: hsl(0, 80%, 70%); margin: 0 0 0 0.1em" title="A space symbol">&emsp;</span>
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 93.02%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0078
                
                    &plusmn; 0.0152
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Hemoglobin
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 93.02%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0078
                
                    &plusmn; 0.0098
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Monocytes
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 93.02%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0078
                
                    &plusmn; 0.0152
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Mean<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>corpuscular<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>hemoglobin<span style="background-color: hsl(0, 80%, 70%); margin: 0 0.1em 0 0.1em" title="A space symbol">&emsp;</span>(MCH)
            </td>
        </tr>
    
        <tr style="background-color: hsl(0, 100.00%, 92.23%); border: none;">
            <td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
                -0.0092
                
                    &plusmn; 0.0256
                
            </td>
            <td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
                Platelets
            </td>
        </tr>
    
    
    </tbody>
</table>
    

    


    

    

    

    

    

    



